<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> Sharkly </title>

    <style>
        .card-wrap {
            width: 95%;
            max-width: 1500px;
            margin: 20px auto 0px auto;
        }

        .main-wrap {
            width: 95%;
            max-width: 1500px;
            margin: 20px auto 0px auto;

            border: 1px solid lightgrey;
            border-radius: 5px;
        }
    </style>
</head>

<body>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="brand">
        <a class="navbar-brand" href="#">Sharkly</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        Team 6 Mini Project
      </span>
    </div>
  </div>
</nav>
<!-- Nav Bar -->

<!-- Main text -->
<div class="main-wrap">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://sisain.co.kr/news/photo/202208/48411_87770_3550.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<!-- Main text -->

<!-- Card Deck -->
<div class="card-wrap">
    <div id="card-box" class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
            <div class="card">
                <a href="bsb.html">
                    <img src="/static/KakaoTalk_20220709_102419179.jpg"
                         class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${desc}</p>
                    <p>${star_image}</p>
                    <p class="mycomment">${comment}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                    <img onclick="javascript:location.href='team_first.html'" src="/static/kKaaoTalk_20220709_102419179.jpg"
                         class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${desc}</p>
                    <p>${star_image}</p>
                    <p class="mycomment">${comment}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://www.naver.com">
                    <img src="/static/KakaoTalk_20220709_102419179.jpg"
                         class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${desc}</p>
                    <p>${star_image}</p>
                    <p class="mycomment">${comment}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://www.naver.com">
                    <img src="/static/KakaoTalk_20220709_102419179.jpg"
                         class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${desc}</p>
                    <p>${star_image}</p>
                    <p class="mycomment">${comment}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://www.naver.com">
                    <img src="/static/KakaoTalk_20220709_102419179.jpg"
                         class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${desc}</p>
                    <p>${star_image}</p>
                    <p class="mycomment">${comment}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card Deck -->
</body>

</html>